@page
@model FinanMEI.Pages.Despesas.EditModel

@{
    ViewData["Title"] = "Alterar despesa";
}

<h1>Alterar despesa</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Despesa.IdDespesa" />
            <div class="form-group">
                <label asp-for="Despesa.NomeDespesa" class="control-label"></label>
                <input asp-for="Despesa.NomeDespesa" class="form-control" />
                <span asp-validation-for="Despesa.NomeDespesa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Despesa.Valor" class="control-label"></label>
                <input asp-for="Despesa.Valor" class="form-control" />
                <span asp-validation-for="Despesa.Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Despesa.Categoria" class="control-label"></label>
                <input asp-for="Despesa.Categoria" class="form-control" />
                <span asp-validation-for="Despesa.Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Despesa.Data" class="control-label"></label>
                <input asp-for="Despesa.Data" class="form-control" />
                <span asp-validation-for="Despesa.Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a asp-page="./Index" class="btn btn-primary">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
