@page
@model IndexModel
@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo(a)</h1>
    <p>Você que é Micro Empreededor Individual (MEI) pode facilmente organizar as finanças do seu negócio com a <bold>FinanMEI</bold>.</p>
</div>
